*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(225, 203, 207);
    font-family: 'Roboto', sans-serif;
}
.main-header{
    width: 100%;
    height: 5rem;
    background-color: white;
    
}
.main-header h1{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align:top;
    font-size: 3rem;
    margin-top: 0.5rem;
}
.main-header img{
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
main{
    background-color: white;
    width: 60%;
    margin: auto;
    margin-top:3rem;
 }

.boxbutt{
    margin-left: 2rem;
    margin-top: 2rem;
}

.butt{
    margin-top: 1rem;
 }

 .butt-task{
    background-color: rgb(9, 182, 240);
    color: white;
    padding: 5px;
    border: solid 1px rgb(9, 182, 240) ;
    border-radius: 5px;
        
 }
 .butt-sect{
    background-color: white;
    color: rgb(194, 192, 192);
    padding: 5px;
    border: solid 1px pink;
    border-radius: 5px;
 }


.line{
    width: 100%;
    height: 0.3rem;
    background-color:rgb(194, 192, 192);
    margin-top: 1rem;
}

ul{
    list-style: none;
    margin-top: 1rem;
    margin-left: 2rem;
}
li{
    line-height: 3rem;
}

.title-list{
    font-weight: bold;
    font-size: 1.5rem;
}
.symbol{
    font-size: 1.2rem;

}
.symbolV{
    border: solid 1px green;
    color: green;
    border-radius: 100%;
    padding: 0.1rem 0.2rem;
}
.symbolX{
    border: solid 1px red;
    border-radius: 100%;
    color: red;
    padding: 0.1rem 0.2rem;
 }
 .main{
    border-radius: 12px;
    padding: 7px;
    color: white;
 }
 .main-blue{
    background-color:  rgb(9, 182, 240) ;
    
 }
 .main-violet{
    background-color: rgb(151, 76, 236); 
 }
 .main-orange{
    background-color: rgb(209, 165, 83);
 }
 .main-green{
    background-color: rgb(69, 119, 69);
 }
 .main-fucsia{
    background-color: fuchsia;
 }
 .main-greenl{
    background-color: rgb(171, 202, 124);
 }
 aside{
    color: blue;
    text-align: center;
 }