*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(234, 222, 224);
}
.main-header{
    width: 100%;
    height: 5rem;
    background-color: white;
    display: inline-block;
}
.main-header h1{
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align:bottom;
    font-size: 2rem;
}
.main-header img{
    height: 4rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}
.contaneir{
    background-color: white;
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem 2rem;

}
#butt-task{
    background-color: rgb(9, 182, 240);
    color: white;
    padding: 5px;
    border: solid 1px rgb(9, 182, 240) ;
    border-radius: 5px;
    
}
#butt-sect{
    background-color: white;
    color: rgb(194, 192, 192);
    padding: 5px;
    border: solid 1px pink;
    border-radius: 5px;
    

}